---
layout: default
---
<center>
<section id="intro">
    <div class="flex-row-between">
        <button title="Change theme" id="theme-toggle" onclick="modeSwitcher()">
            <div></div>
        </button>
        <p style="word-spacing: 1em;">
            <a href="{{ site.url }}{{ site.baseurl }}/"> Home</a>
            <a href="{{ site.url }}{{ site.baseurl }}/portfolio/"> Portfolio</a>
            <a href="{{ site.url }}{{ site.baseurl }}/about/"> About</a>
            <a href="{{ site.url }}{{ site.baseurl }}/contact/"> Contact</a>
        </p>
    </div>
    <br><br>
    <center>
        <div">
        <div class="profile-image-container">
            <img style="width: 80px;
            height: 80px;
            border-radius: 50%;" src="https://user-images.githubusercontent.com/28418984/184457431-97e48256-2982-4dba-b4f3-d14dcc079404.png" class="profile-image">
        </div>
        <div>
            <h1>{{ site.title }}</h1>
        </div>
    </div>
    </center>
    <div class="bio">
        {{ site.description }}
    </div>
</section>
</center>
<div class="search-article">
    <label for="search-input" aria-hidden="true">
        <!-- Magnifier -->
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
            stroke="rgba(128,128,128,0.8)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-search">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
    </label>

    <input type="search" id="search-input" placeholder="Find some articles here" aria-label="Search">
    <ul id="search-results"></ul>
</div>
<br>
<div class="posts" id="Blog">
    <h2>Tulisan Terbaru</h2>
<!-- post -->
<ul>
    {% for post in paginator.posts %}
        <li>
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d, %Y" }}</time>
        </li>
        {% endfor %}
</ul> 
<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
  {% else %}
    <span>&laquo; Prev</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="webjeda">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="/">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
  {% else %}
    <span>Next &raquo;</span>
  {% endif %}
</div>
{% endif %}
    <center style="margin-top: 2rem;">
        <a style="text-decoration: underline;" href="{{ site.url }}/tag/all-post/">Baca tulisan lainnya...</a>
    </center>
    <br>
    <h2>I ♥</h2>
    <p>Art, Music, Playing Video Games, Photography, Cyber Security</p>
    <br>
    <h2>On the web</h2>
    <ul>
     <li><a href="https://github.com/ibnuuby" title="Github profile" target="_blank"
      rel="noopener noreferrer"><i class="fa fa-github" aria-hidden="true"></i> &nbsp;@Ibnuuby</a></li>
      <li><a href="https://twitter.com/xcore13x" title="Twitter" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter" aria-hidden="true"></i> &nbsp;@xcore13x</a></li>
      <li><a href="https://web.facebook.com/ibnu.ubaeydillah" title="Facebook" target="_blank"
      rel="noopener noreferrer"><i class="fa fa-facebook" aria-hidden="true"></i> &nbsp;&nbsp;@Ibnu Ubaeydillah</a></li>
    </ul>

    
 
    <center>
        <h2>Disclaimer</h1>
        <p>Situs ini adalah tempat saya menulis apa yang ingin saya tulis. Kebanyakan berisi catatan untuk pribadi,
            sisanya simpanan yang mungkin harus dibaca lagi.

            Apabila ada keluhan tentang isi dari situs ini atau sekadar ingin menghubungi saya, silakan bisa menghubungi via
            email ke me@ibnuby.com atau twitter <a href="https://twitter.com/xcore13x">@xcore13x</a></p>
    </center>
</section>
